[submodule "franka_ros"]
	path = franka_ros
	url = https://github.com/rickstaa/franka_ros.git
	branch = kinetic-devel
[submodule "panda_autograsp"]
	path = panda_autograsp
	url = https://github.com/rickstaa/panda_autograsp.git
	branch = kinetic-devel
[submodule "panda_moveit_config"]
	path = panda_moveit_config
	url = https://github.com/rickstaa/panda_moveit_config.git
	branch = kinetic-devel
[submodule "panda_autograsp_singularity_recipes"]
	path = panda_autograsp_singularity_recipes
	url = https://github.com/rickstaa/panda_autograsp_singularity_recipes.git
[submodule "panda_simulation"]
	path = panda_simulation
	url = https://github.com/rickstaa/panda_simulation.git
[submodule "moveit_tutorials"]
	path = moveit_tutorials
	url = https://github.com/ros-planning/moveit_tutorials.git
	branch = kinetic-devel
[submodule "gqcnn"]
	path = gqcnn
	url = https://github.com/rickstaa/gqcnn.git
[submodule "autolab_core"]
	path = autolab_core
	url = https://github.com/rickstaa/autolab_core.git
[submodule "perception"]
	path = perception
	url = https://github.com/rickstaa/perception.git
