[submodule "gqcnn"]
	path = gqcnn
	url = ../gqcnn
	branch = master-panda_autograsp
[submodule "franka_ros"]
	path = franka_ros
	url = ../franka_ros.git
	branch = melodic-devel-panda_autograsp
[submodule "panda_moveit_config"]
	path = panda_moveit_config
	url = ../panda_moveit_config.git
	branch = melodic-devel-panda_autograsp
[submodule "perception"]
	path = perception
	url = ../perception.git
	branch = master-panda_autograsp
[submodule "panda_simulation"]
	path = panda_simulation
	url = ../panda_simulation.git
	branch = master-panda_autograsp
