# Folders to ignore
__pychache__/
_build/*
tmp/*
dist/*
/docs/build/*
/panda_autograsp/models/*
!/panda_autograsp/models/coke_can
!/panda_autograsp/models/plastic_cup
.vscode
!/.vscode

# files to ignore
microsoft.gpg
*.pyc
*.log
*.png
*.jpg
*.egg-info
