# Folders to ignore #
.vscode/
vscode_ws/
__pychache__/
.egg-info/
build/
_build/
tmp/
models/
dist/

# files to ignore ##
/CMakeLists.txt
*.pyc
microsoft.gpg
*.log
*eggs-info
.eggs
workspace.code-workspace