<!-- Main panda Autograsp launchfile
    This launch file launches all the required ROS nodes except the panda_autograsp_cli.py command line interface (CLI).
    This CLI can be opened using the 'rosrun panda_autograsp panda_autograsp_cli.py' command.
-->
<launch>

    <!--Launch file arguments-->
    <arg name="base_name" default="panda_autograsp"/>
    <arg name="output" default="log"/>
    <arg name="calib_type" default="aruco_board"/><!--Supports "aruco_board" or "chessboard"-->
    <arg name="debug" default="False"/>

    <!--Change loggin format-->
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [WallTime: ${time}]: [${node}] ${message}" if="$(arg debug)"/>

    <!-- Load Rviz-->
    <include file="$(find panda_moveit_config)/launch/demo.launch">
        <arg name="rviz_tutorial" value="False" />
    </include>

    <!-- Load Pick and place -->
    <!-- <node pkg="panda_autograsp" type="pick_and_place_tutorial.py" name="pick_place_node"/> -->
</launch>