scipy
scikit-learn
ruamel.yaml
multiprocess
setproctitle
joblib
colorlog
pyglet==1.4.0b1
imageio==2.6.1
pyrender==0.1.20
shapely

autolab-core==0.0.14
visualization==0.1.4
opencv-python==4.2.0.32
opencv-contrib-python==4.2.0.32
scikit-image<=0.14.2
gputil
tensorflow==1.13.1

pylibfreenect2
tensorflow-estimator==1.13.0
pyquaternion

keras

ipython==5.5.0
scikit-video
ffmpeg-python

Pillow
docutils
pyserial>=3.4
cython
psutil
matplotlib<=2.2.0
numpy==1.16.0
cycler