scipy
scikit-learn
ruamel.yaml
multiprocess
setproctitle
joblib
colorlog

autolab-core
visualization
opencv-python==4.2.0.32
opencv-contrib-python==4.4.0.46
scikit-image<=0.14.2
gputil
tensorflow-gpu==1.13.1

pylibfreenect2
tensorflow-estimator==1.15.1
pyquaternion

keras

ipython==5.5.0
scikit-video
ffmpeg-python

Pillow
docutils
pyserial>=3.4
cython
psutil
matplotlib<=2.2.0
numpy==1.16.0
cycler